$color-primary: #1a1d21;
$color-secondary: rgb(53 55 59);
$color-hover-contact: #27242c;
$color-selected-contact: #3a2d3b;
$color-link: #2b9bd1;

$font-primary: 'Nunito',
sans-serif;
$color-text-primary: rgb(195, 195, 194);
// #D1D2D3
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 65.25em; // 900px/16
$bp-small: 37.5em; // 600px/16
$bp-smallest: 31.25em; // 500px/16

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $font-primary;
  font-weight: 300;
  color: $color-text-primary;

  @media only screen and (max-width: $bp-largest) {
    font-size: 60%;
  }
}

body {
  background-color: $color-secondary;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr min-content 5.5fr;
  grid-template-rows: repeat(2, 1fr) 90%;
  // grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: $color-secondary;

  &>.main-chat,
  .thread,
  .header,
  .sidebar {
    background-color: $color-primary;
  }

  @media only screen and(max-width: $bp-smallest) {
    grid-template-columns: 100%;
  }
}

.container-open-thread {
  grid-template-columns: 1fr min-content 4fr 2fr;

  &>.thread {
    border-left: 1px solid $color-secondary;
  }

  &>.main-open-thread {
    border-left: 0;
  }
}

.resize {
  grid-column: 2/2;
  grid-row: 2/-1;
  width: 2px;
  background-color: $color-secondary;

  &:hover {
    cursor: col-resize;
    width: 3px;
    background-color: lightskyblue;
  }

  &:active {
    cursor: move;
    background-color: lightskyblue;
  }
}