.search {
  grid-column: 1/-1;
  grid-row: 1/1;
  display: grid;
  grid-template-columns: 97% 3%;
  background-color: #4a154b;
  &__box {
    width: 70rem;
    display: flex;
    align-items: center;
    justify-self: center;
    input {
      height: 2.5rem;
      border-radius: 5px;
      border: 0.5px solid #a388a1;
      width: inherit;
      outline: none;
      background-color: #5c2c5c;
      color: $color-text-primary;
      margin-right: auto;
      padding: 1rem;
      &::placeholder {
        color: inherit;
      }
    }
  }
  &__user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
    position: relative;
    img {
      cursor: pointer;
      border-radius: 20%;
    }

    &--toggle-data {
      position: absolute;
      top: 3.5rem;
      width: 5rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $color-secondary;
      border-radius: 1rem;
      z-index: 100;
      background-color: whitesmoke;
      cursor: pointer;
    }
  }
}
